<%= form_for @message do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.label :from %>
  <%= f.text_field :from %>
  <%= f.label :to %>
  <%= f.text_field :to %>
  <%= f.submit "Send Message" %>
<% end %>
<br>
<p><%= link_to "Return Home", root_path %></p>
