From: <%= @message.from %><br>
To: <%= @message.to %><br><br>
Message:<br>
<%= @message.body %><br><br>


<% if current_user %>

  <%= link_to "New Message", new_message_path %>

<% end %>




  <% if current_user %>
  <h2>Messages</h2>
  <hr>
  
  <% @messages.each do |message| %>
  <div class="col-md-3 message_well">
    <div class="col-md-4">
      <%= link_to message_path(message) do %>
      <%= message.id %>
      <% end %>
    </div>
    <div class="col-md-8">
      <p class="message_body">
        To: <%= message.to %> <br>
        From: <%= message.from %><br>
        Body: <%= message.body %><br>
      </p>
    </div>
  </div>
  <% end %>
  <% else %>
    <h2>Login to begin sending messages.</h2>
  <% end %>
</div>
<p><%= link_to "Return Home", root_path %></p>
